/* public/assets/css/style.css */
:root {
    --upa-rojo-sexy: #ff0033;
    --upa-negro-absoluto: #000000;
}

* { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
}

body {
    background-color: var(--upa-negro-absoluto);
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    font-family: 'Poppins', sans-serif;
}

/* Canvas sin filtros culeros */
#fluid-canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    display: block;
}

.glass-card {
    background: rgba(0, 0, 0, 0.95);
    border: 2px solid rgba(255, 0, 51, 0.2); /* Borde sutil rojo */
    padding: 3.5rem;
    border-radius: 25px;
    width: 90%;
    max-width: 420px;
    box-shadow: 0 0 60px rgba(0,0,0,1);
    text-align: center;
}

.brand h1 { 
    font-size: 3rem; 
    font-weight: 900; 
    color: #fff; 
    letter-spacing: -1px;
}

.brand h1 span { 
    color: var(--upa-rojo-sexy); 
}

.brand p { 
    color: #00ff88; 
    font-size: 0.75rem; 
    letter-spacing: 5px; 
    font-weight: 800; 
    margin-bottom: 2.5rem; 
    text-transform: uppercase;
}

.form-group { 
    margin-bottom: 1.5rem; 
    text-align: left; 
}

.form-group label { 
    display: block; 
    font-size: 0.8rem; 
    color: var(--upa-rojo-sexy); 
    margin-bottom: 8px; 
    font-weight: 900; 
    text-transform: uppercase;
}

.form-group input {
    width: 100%;
    background: #0a0a0a;
    border: 1px solid #333;
    padding: 16px;
    border-radius: 10px;
    color: #fff;
    font-size: 1rem;
    transition: 0.3s ease;
}

.form-group input:focus {
    outline: none;
    border-color: var(--upa-rojo-sexy);
    background: #150000;
}

.btn-elite {
    width: 100%;
    background: #fff;
    color: #000;
    padding: 20px;
    border-radius: 10px;
    font-weight: 900;
    font-size: 1.1rem;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    transition: 0.3s;
}

.btn-elite:hover {
    background: var(--upa-rojo-sexy);
    color: #fff;
    transform: scale(1.02);
}